
/* General Formatting */
body{
    height: 100%;
	width: 100%; 
    font-family: Arial, Helvetica, sans-serif;
    

}

div {
    margin: 0 auto;
    width: max-content;
    
}
/* Numbers Input */
#numberInput{
    width:max-content;
    padding: 5% 10%;
    border-style: solid;
    text-align: left;
    display: table;
}
#numberInput div{
	display: table-row;
}
#numberInput label{
	display: table-cell;
}
#numberInput input{
	display: table-cell;
}

.AAAAH{
    float:left;
    color: blue;
}
/* Table */
/* #mlttable{
    overflow: auto;
    white-space: nowrap;

    max-width: 100px;
}  */
table {
    width: 100%;
}

#tblcont{
	overflow: auto;
    width: 600px;
	height: 300px;
    border-style: solid;
    border:black;
}

#tblcont thead th{
    position: sticky;
    top: 0px;
	background: #ffff;
}

#tblcont td.headers{
    position: sticky;
    left: 0px;
	background: #ffff;
}


tr:nth-child(even) {
    background-color: lightsteelblue;
}

.msg{
    color: red;
    font-style: italic;
    clear: both;
}



tr:first-child, td:first-child{
    font-weight: bold;
    background-color: white;
    padding-bottom: 10px;
    margin: 10px;
}

