body{
    height: 100%;
	width: 100%; 

}

div {
    margin: 0 auto;
    width: max-content;
    
}

/* #mlttable{
    overflow: auto;
    white-space: nowrap;

    max-width: 100px;
}  */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 30%;
    float: left;
}
th{
    height: 5px;
}
#numberInput{
    width:max-content;
    padding: 5% 10%;
    border-style: solid;
    text-align: left;
}

.AAAAH{
    float:left;
    color: blue;
}
tr:nth-child(even) {
    background-color: lightsteelblue;
}

.msg{
    color: red;
    font-style: italic;
}

.headers{
    font-weight: bold;
    border: 5px solid black;
    padding-bottom: 10px;
    margin: 10px;
    background-color: white;
}

tr:first-child{
    font-weight: bold;
    background-color: white;
    border: 5px solid black;
    padding-bottom: 10px;
    margin: 10px;
}