body{
    height: 100%;
	width: 100%; 

}

div {
    margin: 0 auto;
    width: max-content;
    
}


#numberInput{
    width:max-content;
    padding: 5% 10%;
    border-style: solid;
    text-align: left;
}

tr:nth-child(even) {
    background-color: lightsteelblue;
}

.msg{
    color: red;
    font-style: italic;
}