body{
    height: 100%;
	width: 100%; 

}

div {
    margin: 0 auto;
    width: max-content;
    
}

/* #mlttable{
    overflow: auto;
    white-space: nowrap;

    max-width: 100px;
}  */
table {
    width: 100%;

}

#tblcont{
	overflow: auto;
    	width: 600px;
	height: 300px;
}

#tblcont thead th{
    	position: sticky;
    	top: 0px;
	background: #ffff;
}

#tblcont td.headers{
    	position: sticky;
    	left: 0px;
	background: #ffff;
}

#numberInput{
    width:max-content;
    padding: 5% 10%;
    border-style: solid;
    text-align: left;
    display: table;
}
#numberInput div{
	display: table-row;
}
#numberInput label{
	display: table-cell;
}
#numberInput input{
	display: table-cell;
}

.AAAAH{
    float:left;
    color: blue;
}
tr:nth-child(even) {
    background-color: lightsteelblue;
}

.msg{
    color: red;
    font-style: italic;
    clear: both;
}

.headers{
    font-weight: bold;
    border: 5px solid black;
    padding-bottom: 10px;
    margin: 10px;
    background-color: white;
}

tr:first-child{
    font-weight: bold;
    background-color: white;
    border: 5px solid black;
    padding-bottom: 10px;
    margin: 10px;
}